#detallefactura * { list-style:none;}
#detallefactura li{ line-height:180%;}
#detallefactura input[name="list"] {
	/*position: absolute;*/
  /*visibility: hidden;*/
	left: -1000em;
	}
#detallefactura label:before{ content:"\025b8"; margin-right:4px;}
#detallefactura input:checked ~ label:before{ content:"\025be";}
#detallefactura .interior{display: none;}
#detallefactura input:checked[name="list"] ~ ul{display:block;}