
<div><strong>AsyncPipe:</strong> (Se utiliza con observables o promesas, lo veremos más adelante)</div>
<div><strong>CurrencyPipe:</strong> {{numero | currency:'EUR':'€':'1.2-2':'es'}}</div>
<!-- ng serve --locale=es -->
<div><strong>DatePipe:</strong> {{fecha | date:'dd-MM-yyyy HH:mm:ss'}}</div>
<div><strong>DecimalPipe:</strong> {{numero | number}}</div>
<div><strong>I18nPluralPipe:</strong> (Se utiliza para la gestión de traducciones, lo veremos más adelante)</div>
<div><strong>I18nSelectPipe:</strong> (Se utiliza para la gestión de traducciones, lo veremos más adelante)</div>
<div><strong>JsonPipe:</strong> {{objeto | json}}</div>
<div><strong>LowerCasePipe:</strong> {{cadenadetexto | lowercase}}</div>
<div><strong>PercentPipe:</strong> {{numero2 | percent}}</div>
<div><strong>SlicePipe:</strong> {{cadenadetexto | slice:4:10}}</div>
<div><strong>TitleCasePipe:</strong> {{cadenadetexto | titlecase}}</div>
<div><strong>UpperCasePipe:</strong> {{cadenadetexto | uppercase}}</div>
