<h2>CRUD de usuarios</h2>

<h3>Añade un usuario a la lista</h3>
<form>
  <div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="name" placeholder="Escribe el nombre...">
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" placeholder="Email...">
  </div>
  <div>
    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone" placeholder="Phone...">
  </div>
  <button type="button">Añadir</button>
</form>

<div class="row">

  <div class="col-md-6">
    <h3>Lista de usuarios</h3>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Phone</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Carlos</td>
          <td>carherco@gmail.com</td>
          <td>111-222-333</td>
          <td><button>Eliminar</button></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Carlos</td>
          <td>carherco@gmail.com</td>
          <td>111-222-333</td>
          <td><button>Eliminar</button></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Carlos</td>
          <td>carherco@gmail.com</td>
          <td>111-222-333</td>
          <td><button>Eliminar</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <h3>Datos del usuario Carlos</h3>
    <div><label>Id: </label>1</div>
    <div>
      <label>Nombre: </label>
      <input placeholder="name"/>
    </div>
    <div>
      <label>Email: </label>
      <input placeholder="email"/>
    </div>
    <div>
      <label>Phone: </label>
      <input placeholder="phone"/>
    </div>
  </div>

</div>
