<div id="galeria">

<h1>{{title}}</h1>

<div>
  <button [disabled]="index<1" class="btn btn-primary" (click)="prev()">Anterior</button>
  <img [src]="imagenActual" [width]="tamano"/>
  <button [disabled]="index>=imagenes.length-1" class="btn btn-primary" (click)="next()">Siguiente</button>

  <button (click)="tamano = tamano + 50" class="btn btn-success">Aumentar</button>
  <button (click)="tamano = tamano - 50" class="btn btn-success">Disminuir</button>

</div>

<div style="margin-top: 50px;">
  <span [hidden]="paginator_ini <= 0" (click)="paginator_ini = paginator_ini - paginator_num; paginator_fin = paginator_fin - paginator_num;">Anterior</span>
  <img *ngFor="let img of imagenes | slice:paginator_ini:paginator_fin; let i=index" [src]="img" width="50px;" style="margin-left:20px;" (click)="select(i+paginator_ini)"/>
  <span [hidden]="paginator_fin >= imagenes.length" (click)="paginator_ini = paginator_ini + paginator_num; paginator_fin = paginator_fin + paginator_num;">Siguiente</span>
</div>

</div>



<div class="img_grande">
  <button (click)="anterior()"
  [disabled]="indice <= 0"
  class="btn btn-success">Anterior
  </button>

  <img [src]="imagen_actual" [width]="tamano">

  <button (click)="siguiente()"
  [disabled]="indice >= imagenes.length - 1"
  class="btn btn-success">Siguiente
  </button>

  <button (click)="tamano = tamano + 50" class="btn btn-success">Aumentar</button>
  <button (click)="tamano = tamano - 50" class="btn btn-success">Disminuir</button>

</div>


