<div class="container" >

  <!--<app-nav></app-nav>-->

  <app-change-detection-parent></app-change-detection-parent>



  <!-- Formularios template driven -->
  <div>
    <!--<app-hero-form></app-hero-form>-->
  </div>

  <!-- Template reference variables -->
  <div>
    <!--<app-key-up></app-key-up>-->
  </div>

  <!-- Observables -->
  <div>
    <!--<app-cold-observables></app-cold-observables>-->
  </div>

  <div>
    <!--<app-hero-list></app-hero-list>-->
  </div>

  <div>
    <!--<app-hero-search></app-hero-search>-->
  </div>

  <!-- Formularios model-driven (Reactive forms)-->
  <div>
    <!--<app-reactive-form></app-reactive-form>-->
  </div>


</div>
