<div class="container">

  <h1>
    {{ title }}
  </h1>


  <!-- Event binding -->
  <div>
    <!--<click-me></click-me>
    <click-me></click-me>-->
  </div>

  <!-- Ejemplo de event binding + directiva -->
  <div>
    <!--<app-galeria></app-galeria>-->
  </div>

  <!-- Crud básico -->
  <div>
    <app-crud-basico></app-crud-basico>
  </div>

  <!-- Paso de datos entre componentes -->
  <div>
    <!--<app-parent-comp></app-parent-comp>-->
  </div>

  <!-- Observables -->
  <div>
    <!--<app-key-up></app-key-up>-->
  </div>

  <div>
    <!--<app-cold-observables></app-cold-observables>-->
  </div>

  <div>
    <!--<app-hero-form></app-hero-form>-->
  </div>

  <div>
    <!--<app-hero-list></app-hero-list>-->
  </div>



  <div>
    <!--<app-hero-search></app-hero-search>-->
  </div>

  <div>
    <!--<app-reactive-form></app-reactive-form>-->
  </div>


</div>
