<div class="container">

  <h1>
    {{ title }}
  </h1>


<nav>
  <a routerLink="/click-me" routerLinkActive="active">Click-me</a>
  <a routerLink="/galeria" routerLinkActive="active">Galería</a>
  <a routerLink="/heroes" routerLinkActive="active">Héroes</a>
  <a routerLink="/key-up" routerLinkActive="active">Key Up</a>
  <a routerLink="/forms/template-driven" routerLinkActive="active">Template driven</a>
</nav>

<router-outlet></router-outlet>


  <!-- Event binding -->
  <div>
    <!--<click-me></click-me>-->
    <!--<click-me></click-me>-->
  </div>

  <!-- Ejemplo de event binding + directiva -->
  <div>
    <!--<app-galeria></app-galeria>-->
  </div>

  <!-- Crud básico -->
  <div>
    <!--<app-crud-basico></app-crud-basico>-->
  </div>

  <!-- Paso de datos entre componentes -->
  <div>
    <!--<app-parent-comp></app-parent-comp>-->
  </div>

  <!-- Formularios template driven -->
  <div>
    <!--<app-hero-form></app-hero-form>-->
  </div>

  <!-- Observables -->
  <div>
    <!--<app-key-up></app-key-up>-->
  </div>

  <div>
    <!--<app-cold-observables></app-cold-observables>-->
  </div>

  <div>
    <!--<app-hero-list></app-hero-list>-->
  </div>

  <div>
    <!--<app-hero-search></app-hero-search>-->
  </div>

  <!-- Formularios model-driven (Reactive forms)-->
  <div>
    <!--<app-reactive-form></app-reactive-form>-->
  </div>


</div>
