<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  Curso Angular 6
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">

    <mat-nav-list>
      <a mat-list-item routerLink="/click-me" routerLinkActive="active">Click-me</a>
      <a mat-list-item routerLink="/calculadora" routerLinkActive="active">Calculadora</a>
      <a mat-list-item routerLink="/highlight" routerLinkActive="active">Highlight</a>
      <a mat-list-item routerLink="/pipes" routerLinkActive="active">Pipes</a>
      <a mat-list-item routerLink="/galeria" routerLinkActive="active">Galería</a>
      <a mat-list-item routerLink="/crud-basico" routerLinkActive="active">CRUD básico</a>
      <a mat-list-item routerLink="/parent-child" routerLinkActive="active">Parent-child</a>
      <a mat-list-item routerLink="/parent-child" routerLinkActive="active">Patón contenedor-presentador</a>
      <a mat-list-item routerLink="/heroes" routerLinkActive="active">Héroes</a>
      <a mat-list-item routerLink="/key-up" routerLinkActive="active">Template reference variables</a>
      <a mat-list-item routerLink="/forms/template-driven" routerLinkActive="active">Template driven</a>
      <a mat-list-item routerLink="/observables" routerLinkActive="active">Observables</a>
      <a mat-list-item routerLink="/heroes-api" routerLinkActive="active">Listado de héroes</a>
      <a mat-list-item routerLink="/search" routerLinkActive="active">Listado con búsqueda</a>
      <a mat-list-item routerLink="/forms/model-driven" routerLinkActive="active">Model driven</a>
      <a mat-list-item routerLink="/admin/users" routerLinkActive="active">Admin (lazy loading)</a>
      <a mat-list-item routerLink="/animation" routerLinkActive="active">Animation</a>
      <a mat-list-item routerLink="/animation2" routerLinkActive="active">Animation 2</a>
      <a mat-list-item routerLink="/animation-search" routerLinkActive="active">Animation Search</a>
      <a mat-list-item routerLink="/fractal" routerLinkActive="active">Fractal</a>
      <a mat-list-item routerLink="/rotate" routerLinkActive="active">Rotate</a>
      <a mat-list-item routerLink="/crono" routerLinkActive="active">Crono</a>
      <a mat-list-item routerLink="/redux" routerLinkActive="active">Redux</a>
      <a mat-list-item routerLink="/redux-ngrx" routerLinkActive="active">Redux con NgRx</a>
      <a mat-list-item routerLink="/redux-effects" routerLinkActive="active">Redux con NgRx y Effects</a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>


