<p>huge-form works!</p>

<div [hidden]="!show('role')">Role</div>
<div [hidden]="!show('gender')">gender</div>
<div [hidden]="!show('username')">username</div>
<div [hidden]="!show('DNI')">DNI</div>
<div [hidden]="!show('ANUSS')">ANUSS</div>
<div [hidden]="!show('AD')">AD</div>
<div [hidden]="!show('Alegre')">Alegre</div>
<div [hidden]="!show('Activo')">Activo</div>
<div [hidden]="!show('Timido')">Timido</div>

<button (click)="nextPage()">Next Page (a mostrar en todas las páginas menos la última)</button>

<button (click)="submit()">Submit (a mostrar en la última página)</button>



