<a>Log out</a>

<h2>
  Listado de usuarios
</h2>

<ul class="nav nav-pills">
  <li role="presentation"><a routerLink="/admin" routerLinkActive="active">Home</a></li>
  <li role="presentation"><a routerLink="/user" routerLinkActive="active">Gestión de usuarios</a></li>
  <li role="presentation">Gestión de Roles</li>
  <li role="presentation">Gestión de Permisos</li>
</ul>


<table class="table">
  <tr *ngFor="let user of users">
    <td>{{user.first_name}}</td>
    <td>{{user.last_name}}</td>
    <td><img [src]="user.avatar" /></td>
  </tr>
</table>
