


<a class="menu" [routerLink]="['/galeria']" routerLinkActive="seleccionado">Galería</a>
<a class="menu" [routerLink]="['/heroes/listado']" routerLinkActive="seleccionado">Listado</a>
<a class="menu" [routerLink]="['/template-variables']" routerLinkActive="seleccionado">Template Variables</a>
<a class="menu" [routerLink]="['/forms/template-driven/18',{otro: 'dadd'}]" routerLinkActive="seleccionado">Formulario Template-driven</a>
<a class="menu" [routerLink]="['/observables-frios']" routerLinkActive="seleccionado">Observables Fríos</a>
<a class="menu" [routerLink]="['/busqueda']" routerLinkActive="seleccionado">Búsqueda con observables</a>

<a class="menu" [routerLink]="['/admin/clientes']" routerLinkActive="seleccionado">Admin</a>

<a class="menu" (click)="salir()">Salir</a>

